{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center flex-column align-items-center">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger w-50" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>Register</h1>

        {{ form_errors(registrationForm) }}

        <div class="w-50"> <!-- Adjust width as needed -->
            {{ form_start(registrationForm) }}
            <div class="mb-3">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="mb-3">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
            </div>
            <div class="mb-3">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
